<div class="row">
  <div id="nav" class="small-12 columns center">
    <a href="https://github.com/{{ site.github_username }}" title="github profile">
      <i class="fa fa-github-square"></i>
    </a>
    <a href="https://twitter.com/{{ site.twitter_username }}" title="twitter profile">
      <i class="fa fa-twitter-square"></i>
    </a>
    <a href="https://plus.google.com/+TadThorley" title="google plus profile">
      <i class="fa fa-google-plus-square"></i>
    </a>
    <a class="home" href="/" title="home">
      <i class="fa fa-home"></i>
    </a>
    <a href="/about" title="about">
      <i class="fa fa-info-circle"></i>
    </a>
    <a href="http://tadthorley.com/" title="tadthorley.com">
      <i class="fa fa-external-link-square"></i>
    </a>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="rss feed">
      <i class="fa fa-rss-square"></i>
    </a>
  </div>
</div>
