<div class="row">
  <nav id="nav" class="small-12 columns">
    <a href="/" id="logo"><img src="/assets/logo.png"></a>
    <div id="nav-links">
    {% if page.highlight == 'explanations' -%}
      <a href="/explanations" class="selected">explanations</a>
      <a href="/elsewhere">elsewhere</a>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="rss feed">feed</i></a>
    {% elsif page.highlight == 'elsewhere' -%}
      <a href="/explanations">explanations</a>
      <a href="/elsewhere" class="selected">elsewhere</a>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="rss feed">feed</i></a>
    {% else -%}
      <a href="/explanations">explanations</a>
      <a href="/elsewhere">elsewhere</a>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="rss feed">feed</i></a>
    {% endif -%}
    </div>
  </nav>
</div>
