<div class="row">
  <div id="nav" class="small-12 columns">
    <a href="/" id="logo"><img src="/assets/logo.png"></a>
  {% if page.highlight == 'explanations' -%}
    <a href="/explanations" class="selected">explanations</a>
    <a href="/elsewhere">elsewhere</a>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="rss feed">feed&nbsp;<i class="fa fa-rss-square"></i></a>
  {% elsif page.highlight == 'elsewhere' -%}
    <a href="/explanations">explanations</a>
    <a href="/elsewhere" class="selected">elsewhere</a>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="rss feed">feed&nbsp;<i class="fa fa-rss-square"></i></a>
  {% else -%}
    <a href="/explanations">explanations</a>
    <a href="/elsewhere">elsewhere</a>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="rss feed">feed&nbsp;<i class="fa fa-rss-square"></i></a>
  {% endif -%}
  </div>
</div>
