<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if page.description %}
    <meta name="description" content="{{ page.description | strip_html }}">
    {% endif %}
    <title>{{ site.title }} - {{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Oswald|Open+Sans:400italic,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/foundation/app.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="/foundation/js/vendor/modernizr.js"></script>
  </head>
  <body>
    <section role="main" class="scroll-container">
      <div id="container" class="row">
        <div id="page" class="small-9 small-centered columns">
          {% include header.html %}
          {{ content }}
          {% include footer.html %}
        </div>
      </div>
    </section>
    <script src="/foundation/js/vendor/jquery.js"></script>
    <script src="/foundation/js/vendor/fastclick.js"></script>
    <script src="/foundation/js/foundation.min.js"></script>
    <script>$(document).foundation();</script>
  </body>
</html>
