---
layout: default
---
<div class="row">
  <!-- <div class="date">
    <div class="month">{{ page.date | date: "%b" }}</div>
    <div class="day">{{ page.date | date: "%-d" }}</div>
    <div class="year">{{ page.date | date: "%Y" }}</div>
  </div> -->
  <div class="small-12 columns">
    <div id="post-date">{{ page.date | date: "%-d %B %Y"}}</div>
    <h1 class="post-title">{{ page.title }}</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    {{ content }}
  </div>
</div>
